.perspective {
  perspective: 800px;
}

@keyframes slow-spin {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(360deg);
  }
}

.textcube-rotate {
  animation: slow-spin 13s linear infinite;
  transform-style: preserve-3d;
  transition: transform 2s ease-in-out;
}
.textcube-rotate:hover {
  animation-play-state: paused;
}