@import "tailwindcss";

@theme {
  --color-primary: oklch(0 0 0);       
  --color-secondary: oklch(1 0 0);    
  --color-tertiary: oklch(0.65 0.25 300);
}
body{
  background-color: var(--color-primary);
}

.perspective {
  perspective: 800px;
}

@keyframes slow-spin {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(360deg);
  }
}

.textcube-rotate {
  animation: slow-spin 10s linear infinite;
  transform-style: preserve-3d;
}
